<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<location path="." inheritInChildApplications="false">
		<system.webServer>
			<rewrite>
				<rules>
					<rule name="Rewrite AlwaysOn" stopProcessing="true">
						<match url="^$" />
						<conditions>
							<add input="{HTTP_USER_AGENT}" pattern="^AlwaysOn$" />
						</conditions>
						<action type="Rewrite" url="/online/ping" />
					</rule>
				</rules>
			</rewrite>
			<handlers>
				<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
			</handlers>
			<aspNetCore processPath=".\ApiWithAuthentication.Servers.API.exe" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />
		</system.webServer>
	</location>
</configuration>